# Análise Exploratória - Pedidos

## Carregando Pacotes

In [1]:
%matplotlib inline

from matplotlib import pyplot as plt

import pandas as pd
import matplotlib

## Configurações

In [2]:
plt.rcParams['figure.figsize'] = [15, 7]

## Carregando Dados

In [6]:
orders = pd.read_csv('../datasets/raw/olist_order_items_dataset.csv')
orders.head()

,order_id,order_item_id,product_id,seller_id,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14

## Contagem

In [7]:
orders.count()

order_id         112650
order_item_id    112650
product_id       112650
seller_id        112650
price            112650
freight_value    112650
dtype: int64

## Top 10 Produtos

In [12]:
orders[u'product_id'].value_counts()[:10]

aca2eb7d00ea1a7b8ebd4e68314663af    527
99a4788cb24856965c36a24e339b6058    488
422879e10f46682990de24d770e7f83d    484
389d119b48cf3043d311335e499d9c6b    392
368c6c730842d78016ad823897a372db    388
53759a2ecddad2bb87a079a1f1519f73    373
d1c427060a0f73f6b889a5c7c61f2ac4    343
53b36df67ebb7c41585e8d54d6772e08    323
154e7e31ebfa092203795c972e5804a6    281
3dd2a17168ec895c781a9191c1e95ad7    274
Name: product_id, dtype: int64

## Valor Médio dos Pedidos

In [10]:
print('Price: R$ %.2f' % (orders[u'price'].mean()))

Price: R$ 120.65

## Valor Médio dos Fretes

In [11]:
print('Price: R$ %.2f' % (orders[u'freight_value'].mean()))

Price: R$ 19.99

- O valor médio dos produtos vendidos por estado se desvia muito?
- E o valor do frete?